black==21.12b0
click==8.0.3
Flask==2.0.2
Flask-Markdown==0.3
Frozen-Flask==0.18
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.1
Pygments==2.11.1
tomli==1.2.3
typing_extensions==4.0.1
Werkzeug==2.0.2
zipp==3.7.0
