{% extends 'base.html' %}

{% set linkedin = "https://www.linkedin.com/in/arun-k-prasad" %}

{% block title %}Arun Prasad{% endblock %}

{% block body %}
<div class="wrapper">
{% include 'include/nav.html' %}
<article>
{% filter markdown %}
# About

I'm a machine learning engineer in the Bay Area. Ex-Google, ex-Pinterest,
Stanford '12. For details, see my [LinkedIn][linkedin].

[linkedin]: https://www.linkedin.com/in/arun-k-prasad

I'm currently pursuing my own projects while searching for the right role.

Here are the problems I find most important and motivating:

- *Human capability.* What would the world be like if we were wiser, kinder,
and more capable? What makes people grow and perform at the highest level? How
do we empower and inspire people to face the important problems in our lives,
our communities, and our societies?

- *Process and infrastructure.* What tools can we create to make humankind more
capable and creative?  What systems will future generations wish we had started
building now?

- *Climate change.* What are the most effective ways to manage and mitigate the
effects of climate change on human civilization?
{% endfilter %}
</article>
</div>
{% endblock %}
