{% extends 'base.html' %}

{% block title %}{{ post.title }} | Arun Prasad{% endblock %}

{% block extrahead -%}
<meta name="description" content="{{ post.description }}">
{%- endblock %}

{% block body -%}
<div class="wrapper">
{% include 'include/nav.html' %}
<article>
<header>
    <h1 class="mb0">{{ post.title }}</h1>
    <p class="gray f7 normal db mt0">{{ post.date }}</p>
</header>
{{ post.content|safe }}
</article>
</div>

<nav class="df prev-next">
    {% if prev %}
    <a href="{{ url_for('log', slug=prev.slug) }}">&larr; {{ prev.title }}</a>
    {% endif %}
    {% if next %}
    <a href="{{ url_for('log', slug=next.slug) }}">{{ next.title }} &rarr;</a>
    {% endif %}
</nav>
{%- endblock %}

