{% extends 'base.html' %}

{% block title %}{{ post.title }} | Arun Prasad{% endblock %}

{% block extrahead -%}
<meta name="description" content="{{ post.description }}">
{%- endblock %}

{% block body -%}
<div class="wrapper">
<nav>
    <a href="{{ url_for('index') }}">Home</a> |
    <a href="{{ url_for('atom_feed') }}">Feed</a>
</nav>
<article>
<header>
    <h1 class="mb0">{{ post.title }}</h1>
    <p class="gray f7 normal db mt0">{{ post.date }}</p>
</header>
{{ post.content|safe }}
</article>
</div>
{%- endblock %}
