html {
  /* If absent, weird rendering of pygments on iPhone. */
  /* https://stackoverflow.com/a/3428477 */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 20px;
}
body {
  color: #222;
  font-family: Charter, Georgia, serif;
}
nav {
    text-align: right;
}
article {
    margin: 5em 0;
}
h1, h2 {
    font-family: Charter, Georgia, serif;
    line-height: 3rem;
}
h1 {
    font-size: 1.25rem;
}
header h1 {
    font-size: 1.5rem;
}
p, li {
    line-height: 1.4rem;
}
a {
    color: inherit;
}
dfn {
	font-weight: bold;
	font-style: normal;
}
p code, li code {
    background: #eee;
    padding: 0.2rem;
}
pre, code {
    font-size: 0.8rem;
}

.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: 0.875rem; }
.f7 { font-size: 0.75rem; }

.gray { color: #999; }
.dark-gray { color: #555; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.db { display: block; }
.df { display: flex; }

.prev-next a {
    flex: 1 1 auto;
    text-align: center;
    padding: 1rem;
}

.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }

.admonition-title { display: none; }
.admonition { padding: 1rem; }
.admonition p:nth-child(2) { margin-top: 0; }
.admonition p:last-child { margin-bottom: 0; }
.note { background: #fff4ca; }
.warning { background: #f9dcdc; }
.thanks, .endnotes {
    padding: 0;
    font-size: 0.85em;
    color: #999;
}

.wrapper {
  max-width: 700px;
  margin: auto;
}

.post-list {
    list-style: none;
    padding: 0;
}
.post-list a {
    text-decoration: none;
}
.post-list a:hover .post-title {
    text-decoration: underline;
}

@media screen and (max-width: 30em) {
	html {
		font-size: 16px;
	}
	h1 {
		font-size: 1.25rem;
	}
}
