body {
  color: #222;
  font-family: Charter, Georgia, serif;
  font-size: 20px;
  /* If absent, weird rendering of pygments on iPhone. */
  -webkit-text-size-adjust: none;
}
nav {
    text-align: right;
}
article {
    margin: 5em 0;
}
h1, h2 {
    font-family: Charter, Georgia, serif;
    line-height: 3rem;
}
h2 {
    font-size: 1.5rem;
}
p, li {
    line-height: 1.7rem;
}
a {
    color: #06f;
}
code, code span {
    font-size: 1rem;
}

.wrapper {
  max-width: 700px;
  margin: auto;
}
.subtitle {
    color: #999;
    font-size: 1rem;
    font-weight: normal;
}

.post-list a {
    color: #06f;
    text-decoration: none;
}
.post-list a:hover {
    text-decoration: underline;
}
